<footer class="text-xl md:text-2xl mt-16">
  <div class="purple-gradient w-full h-0.5"></div>
  <div class="max-w-[1200px] mx-auto flex flex-col md:flex-row justify-between items-center md:w-[720px] lg:w-full py-4">
    <section class="copyright my-3 md:my-0 md:w-1/3 justify-start">
      <a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}
    </section>
    <div class="footer-social my-3 md:my-0 flex md:w-1/3 justify-evenly">
      <a class="block w-8 h-8 md:w-10 md:h-full" href="https://github.com/Sharmaz">
        <div class="flex flex-col items-center text-sm">
          {{> "icons/github"}}
          <span class="mt-1">github</span>
        </div>
      </a>
      <a class="block w-8 h-8 md:w-10 md:h-full" href="https://www.linkedin.com/in/ivanroblesalonso/">
        <div class="flex flex-col items-center text-sm">
          {{> "icons/linkedin"}}
          <span class="mt-1">linkedin</span>
        </div>
      </a>
      <a class="block w-8 h-8 md:w-10 md:h-full" href="https://twitter.com/elSharmaz">
        <div class="flex flex-col items-center text-sm">
          {{> "icons/twitter"}}
          <span class="mt-1">twitter</span>
        </div>
      </a>
    </div>
    <div class="my-3 md:my-0 md:w-1/3 flex justify-end">
      <a href="#" class="flex flex-col items-center">
        <div class="flex justify-center items-center w-10 h-10 border-solid border-2 border-dark-orchid rounded-full">
          <div class=" w-4 h-4 flex justify-center items-center -rotate-90">
            {{> "icons/arrow-right"}}
          </div>

        </div>
        <div class="text-sm mt-1">
          scroll to top
        </div>
      </a>
    </div>
  </div>
</footer>
