{{!< default}} <div class="page">
  <div class="main-container w-full px-4 md:px-6 lg:px-0 lg:max-w-[1200px] my-0 lg:mx-auto">
    <div class="feed relative grid gap-10 md:gap-y-[4.8vmin] md:gap-x-[4vmin] grid-cols-[1fr] lg:grid-cols-6 py-12">
      {{#foreach posts}}
      {{> "card" page=../pagination.page }}
      {{/foreach}}
    </div>
    {{!-- If JS isn't enabled, fallback to standard pagination --}}
    <noscript>
      <div class="flex justify-between">
        {{pagination}}
      </div>
    </noscript>
  </div>
  </div>
