/* Prism theme */
@import 'prism.css';

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*

This is a development CSS file that is compiled to a minified
production stylesheet in assets/built/screen.css using: npm run dev

*/

/* Lib - Local component imports
/* ---------------------------------------------------------- */

/* Base components */
@import 'vars.css';
@import 'components/global.css';
@import 'components/forms.css';
@import 'components/buttons.css';

/* Ghost components */
@import 'ghost/content.css';
@import 'ghost/readmore.css';
@import 'ghost/members.css';
@import 'ghost/errors.css';
@import 'ghost/badge.css';
@import 'ghost/pagination.css';
@import 'ghost/comments.css';

/* Gradients
/* ---------------------------------------------------------- */
.purple-gradient {
  @apply bg-gradient-to-tl from-heliotrope via-dark-orchid to-metallic-blue;
}
.orange-gradient {
  @apply bg-gradient-to-tl from-dark-orchid via-heliotrope to-orange-peel;
}
.red-gradient {
  @apply bg-gradient-to-tl from-orange-peel via-vivid-cerise to-heliotrope;
}

/* Main - Your styles here! Edit below
/* ---------------------------------------------------------- */

html {
  @apply bg-background text-slate-200;
}

.footer-social a {
  @apply mx-4;
}
.footer-social svg {
  fill: #f5f5f5;
}

/* Main Menu
/* ---------------------------------------------------------- */

.head-menu .nav {
  @apply flex text-4xl md:text-2xl justify-between align-middle flex-col md:flex-row mt-4 md:mt-0;
  li {
    @apply mx-4 my-6 md:my-0 text-center;
  }
}

/* Tags
/* ---------------------------------------------------------- */

.tag-purple {
  @apply bg-[length:200%_200%]
    purple-gradient
    text-slate-300
    rounded-full hover:animate-purple-animation;
}
.tag-orange {
  @apply bg-[length:200%_200%]
    orange-gradient
    text-slate-300
    rounded-full hover:animate-purple-animation;
}

.tag-red {
  @apply bg-[length:200%_200%]
    red-gradient
    text-slate-300
    rounded-full hover:animate-purple-animation;
}

.tags-container .gh-page-head {
  @apply pb-0;
}

.tags-container header p {
  @apply text-base md:text-2xl text-left mx-0 px-0;
}

/* Mobile Menu Trigger
/* ---------------------------------------------------------- */

.burger-element {
  @apply purple-gradient absolute w-8 h-[3px]
  transition-all ease-in-out delay-100;
}

/* Index
/* ---------------------------------------------------------- */

/* 5. Post Feed
/* ---------------------------------------------------------- */

:is(.tag-template, .author-template) .post-feed {
  @apply mt-[4vmin];
}

.post-card {
  @apply relative flex flex-col bg-cover col-span-2 break-words;
}

.post-card-image-link {
  @apply relative overflow-hidden block mb-8;
}

.post-card-image-link::after {
  @apply block pb-[55%] content-[''];
}

.post-card.keep-ratio:not(.post-card-large):not(.post-card-full) .post-card-image-link::after {
  @apply pb-0;
}

.post-card-image {
  @apply absolute w-full h-full bg-no-repeat bg-center object-cover;
}

.post-card.keep-ratio:not(.post-card-large):not(.post-card-full) .post-card-image {
  @apply static;
}

.post-card-content-link {
  @apply relative block;
}

.post-card-content-link:hover {
  @apply no-underline;
}

.post-feed .no-image .post-card-content-link {
  @apply p-0;
}

.no-image .post-card-header {
  @apply mt-0;
}

.post-card-tags {
  @apply mb-4 text-xl gap-3 items-center font-semibold tracking-[-0.005em];
}

.post-card-featured {
  @apply relative flex items-center gap-1 pl-4;
}

.post-card-featured svg {
  @apply absolute left-0;
}

.post-card-title {
  @apply text-3xl font-extrabold m-0 leading-tight;
}

.post-card-content-link:hover .post-card-title {
  @apply opacity-90;
}

.no-image .post-card-title {
  @apply mt-0;
}

.has-serif-title .post-card-title {
  @apply font-sans tracking-tighter;
}

.post-card-title svg {
  @apply mt-[-3px] ml-[-1px];
}

.post-card-content {
  @apply flex flex-col grow;
}

.post-card-excerpt {
  @apply text-xl mb-4 mt-4 max-w-[720px] leading-normal line-clamp-4 break-words;
}

.has-sans-body .post-card-excerpt {
  @apply font-sans;
}

.post-card:not(.post-card-large):not(.post-card-full):not(.dynamic):not(.no-image)
  .post-card-excerpt {
  @apply line-clamp-2;
}

:is(.tag-template, .author-template) .post-card-excerpt {
  @apply mt-1.5;
}

:is(.tag-template, .author-template) .post-card-large .post-card-excerpt {
  @apply block overflow-y-auto;
}

.post-card-meta {
  @apply flex items-center gap-1.5 p-0 text-xl;
}

.post-card-meta > * {
  @apply flex items-center gap-1.5;
}

.post-card-meta > * + *:not(script)::before {
  @apply w-[2px] h-[2px] rounded-[50%] content-[''];
}

.post-card-meta .sep {
  @apply mx-1;
}

.author-profile-image {
  @apply block w-full h-full rounded-full object-cover;
}

.author-list {
  @apply flex flex-wrap p-0 list-none;
}

.author-list-item {
  @apply relative flex-shrink-0 m-0 p-0;
}

/* Special Styling for home page grid (below):

The first post in the list is styled to be bigger than the others and take over
the full width of the grid to give it more emphasis. Wrapped in a media query to
make sure this only happens on large viewports / desktop-ish devices.

*/

@media (min-width: 1001px) {
  .post-card-large {
    @apply grid col-span-6 gap-[4vmin] grid-cols-3 border-t-0;
  }

  .post-card-large:not(.no-image) .post-card-header {
    @apply mb-8 mt-0;
  }

  .post-card-large .post-card-image-link {
    @apply relative col-span-2 mb-0;
  }

  .post-card-large .post-card-content {
    @apply justify-center col-span-1;
  }

  .post-card-large.no-image .post-card-content {
    @apply col-span-2;
  }

  .post-card-large .post-card-image {
    @apply absolute w-full h-full;
  }

  .post-card-large .post-card-tags {
    @apply mb-8;
  }

  .post-card-large .post-card-title {
    @apply text-4xl mt-0 leading-tight;
  }

  .post-card-large .post-card-excerpt {
    @apply text-xl mb-8;
  }

  .post-card-full {
    @apply col-span-6;
  }

  .post-card-full .post-card-image-link {
    @apply mb-10;
  }

  .post-card-full .post-card-tags {
    @apply mb-3.5;
  }

  .post-card-full .post-card-title {
    @apply leading-none text-8xl;
  }

  .post-card-full .post-card-excerpt {
    @apply mt-5 text-3xl;
  }

  .post-card-large + .post-card-large:nth-child(even) {
    @apply my-8 mx-0;
  }

  .post-card-large + .post-card-large:nth-child(even) .post-card-content {
    @apply -order-1;
  }

  .post-card.dynamic {
    @apply col-span-3;
  }

  .post-card.dynamic .post-card-title {
    @apply text-4xl;
  }

  .post-card.dynamic .post-card-excerpt {
    @apply text-xl mb-4 mt-4 line-clamp-3;
  }
}

/* Page
/* ---------------------------------------------------------- */

.gh-page-head {
  margin: 0 auto;
  padding: 8vmin 0 4vmin;
  text-align: center;
}

.gh-page-image {
  margin: 4vmin 0 0 0;
}

.gh-page-head > p {
  max-width: 720px;
  margin: 0.3em auto 0;
  padding: 0 6vmin;
  font-size: 1.3em;
  line-height: 1.4em;
  opacity: 0.5;
}

@media (max-width: 700px) {
  .gh-page-head > p {
    font-size: 1.6rem;
  }
}

/* Post
/* ---------------------------------------------------------- */

.gh-header {
  @apply text-center pb-[8vmin]
}

.gh-post-meta {
  display: block;
  margin: 0 0 1rem;
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  opacity: 0.8;
}

.gh-post-footer {
  margin: 2rem 0;
}

/* Content & Typography
/* ---------------------------------------------------------- */

.gh-content > * + * {
  @apply mt-[4vmin];
}

.gh-content [id]:not(:first-child) {
  @apply mt-11;
}

.gh-content > [id] + * {
  @apply mt-11;
}

.gh-content [id] + .kg-card,
.gh-content blockquote + .kg-card {
  @apply mt-[6vmin];
}

.page-content .kg-image {
  @apply rounded-2xl md:rounded-3xl mx-auto;
}

.gh-canvas > blockquote,
.gh-canvas > ol,
.gh-canvas > ul,
.gh-canvas > dl,
.gh-canvas > p {
  @apply text-xl font-sans font-normal leading-6;
}

.gh-canvas > ul {
  @apply list-disc leading-6;
}
.gh-canvas > ul li {
  @apply mt-4 leading-6 pl-1.5;
}

.gh-content > ul,
.gh-content > ol,
.gh-content > dl {
  @apply pl-9;
}

.gh-content hr {
  @apply mt-[6vmin];
}

.gh-content hr + * {
  @apply mt-[6vmin];
}

.gh-content blockquote {
  @apply relative italic before:bg-dark-orchid before:content-[''] before:left-[-1.5em] before:top-0 before:bottom-0 before:absolute before:w-[5px];
}

.gh-content h2 {
  @apply text-2xl md:text-3xl font-bold;
}
.gh-content a {
  @apply underline underline-offset-[5px] decoration-dark-orchid;
}

@media (max-width: 650px) {
  .gh-canvas blockquote,
  .gh-canvas ol,
  .gh-canvas ul,
  .gh-canvas dl,
  .gh-canvas p {
    @apply text-base;
  }

  .gh-content blockquote::before {
    @apply left-[-4vmin];
  }
  .read-more .post-card {
    @apply my-4;
  }
}

/* Author Archive
/* ---------------------------------------------------------- */

.author-container .gh-page-head p {
  @apply text-base md:text-2xl my-4;
}

.author-container .gh-author-links {
  @apply underline underline-offset-[5px] decoration-dark-orchid;
}

.author-container .gh-author-links a {
  @apply text-base md:text-2xl;
}

.author-container .gh-author-image {
  @apply w-[64px] md:w-[150px];
}

.gh-author-image {
  margin: 0 auto 1.5em;
  border-radius: 100%;
  overflow: hidden;
  object-fit: cover;
}

.gh-author-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gh-author-links a {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: 0 0.75vmin;
}

.gh-author-links a + a:before {
  display: block;
  content: '';
  margin: 0 1.25vmin 0 0;
  height: 1em;
  width: 1px;
  background: rgba(0, 0, 0, 0.3);
  transform: rotate(20deg);
}

@media (max-width: 700px) {
  .gh-author-meta {
    font-size: 1.6rem;
  }
}
